<%- include('tete'); -%>
<link rel="stylesheet" type="text/css" href="/assets/semantic/css/jquery-ui.min.css">
    <style>
    .ui-tabs-nav li > a
    {

        width: 100%;
        text-align: center;
        height: 70px;
        font-size: 20px;
        padding-top: 40px;
    }
    .ui-tabs-nav li
    {
        width: 24%;
    }
    .ui-widget-header
    {
        background: #111F29 none repeat scroll 0% 0%;
        color: #1891EC;
        height: 80px; 
        width: 100%;
    }
    .ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: 1px solid #003eff;
    background: #F6B60B;
    font-weight: normal;
    color: #ffffff;
}
    #discution > li
    {
        border-bottom: 2px solid silver; 
        box-shadow: 5px 5px 5px 5px  silver;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: -40px;
        margin-top: 30px;
    
    }
    #discution > li > a:hover
    {
        text-decoration: none;
    }
    .user-profile-image {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}
.rounded-circle {
    border-radius: 50% !important;
}
/* lien de telechargement */
#telelien:hover
{
    color: #f8b81d;
}


</style>
<!-- en tete-->
<%- include('header'); -%>
<!-- Slider area -->
<div class="container">
    <div style="background-color: #fff;" class="row  hidden-md hidden-lg">
         <div class="col-lg-12 col-sm-12">
           <div class="dropdown  pull-right"> 
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#"><img src="/assets/semantic/images/profile.jpg" style="height: 50px;" class="img-circle" alt="" /><b class="caret"></b></a>
              <ul style="top: 50px;" class="dropdown-menu">
                <div style="background: #fff; padding: 25px;" class="col-md-4 col-lg-3 ">
                         <div class="card card-white">
                             <div class="text-center card-body user-profile-card">
                                 <p class="text-center m-t-lg">Nom au complet</p>
                                 <h4 class="text-center"><%= nom %></h4>
                                 <hr>
                                 <ul class="list-unstyled text-center">
                                     <li>
                                         <p><i class="text-center"></i>Matricule</p>
                                     </li>
                                     <li>
                                         <h4><%= matricule %></h4>
                                     </li>
                                     <li>
                                         <p><i class="text-center"></i>Classe</p>
                                     </li>
                                     <li>
                                        <%= classe %></h4>
                                     </li>
                                 </ul>
                                 <hr>
                                <a href="/forum/modifier"><button style=" background: #F6B60B; border-color: #fff;" class="btn btn-info btn-block">Modifier profil</button></a> 
                                 <hr>
                                 <button style=" background: #F6B60B; border-color: #fff;" class="btn btn-info btn-block">Deconnecter</button>
                             </div>
                         </div>
                     </div>
              </ul>
             </div>
         </div>
     </div>   
 </div>
 <div class="container">     
    <!-- debut du formulaire -->
    <div class="row">
             <div style="background: #fff; padding: 25px;" class="col-md-3 hidden-xs col-lg-3">
                        <div class="card card-white">
                            <div class="card-heading clearfix">
                                <h4 class="text-center card-title">Profile d'utilisateur</h4>
                            </div>
                            <div class="text-center card-body user-profile-card">
                                <img src="/assets/semantic/images/profile.jpg" class="user-profile-image rounded-circle" alt="" />
                                <p class="text-center m-t-lg">Nom au complet</p>
                                <h4 class="text-center"><%= nom %></h4>
                                <hr>
                                <ul class="list-unstyled text-center">
                                    <li>
                                        <p><i class="text-center"></i>Matricule</p>
                                    </li>
                                    <li>
                                        <h4><%= matricule %></h4>
                                    </li>
                                    <li>
                                        <p><i class="text-center"></i>Classe</p>
                                    </li>
                                    <li>
                                       <%= classe %></h4>
                                    </li>                                 </ul>                                     <hr>
                                <a href="/forum/modifier"><button style="background-color: #f8b81d; border: none;" class="btn btn-info btn-block">Modifier profil</button></a>
                                <hr>
                                <a href="/forum/deconnection"><button style="background-color: #f8b81d; border: none;" class="btn btn-info btn-block">Deconnecter</button></a>
                            </div>
                        </div>
                    </div>
           <div class="col-lg-offset-1 col-md-offset-1 col-sm-8 col-md-8 col-lg-8">
           <div class="row">         
        <div style="background: #fff; margin-top: 20px; height: 100%; padding: 25px; margin-bottom: 5px;" class="col-lg-12" >
        <div class="row">
        <div class="col-lg-12">
        <h4>Cliquez ce bouttons si dessous pour poser n'importe quel question sur tous les matieres de votre choix</h4></div>
        <div class="col-lg-offset-4 col-md-offset-4 col-xs-offset-3 col-sm-offset-3 col-lg-6">
        <a href="/forumnovosujet/<%= laclasse %>/<%= reponse %>"><button style="background-color: #f8b81d; color: #fff; font-size: 15px; padding: 15px; border-color: #fff;"><i class="fa fa-plus"></i> Nouveau sujet </button></a></div>
    </div>
        </div>
        <h2 style="text-align: center;">Les discutions</h2>
        <div style="background: #fff; margin-top: 20px; height: 100%; padding: 25px;" class="col-lg-12" >
           <% for( var i= question.length -1 ; i >= 0; i--)   {%>
           <ul id="discution" style="list-style: none;">
            <li><a href="/forumrepondre/<%= laclasse %>/<%= reponse %>/<%= question[i]['id'] %>">
               <div class="row">
                   <div class="col-md-2 col-xs-3 centered ">
                <img src="/assets/semantic/images/profile.jpg" class="img-circle" width="65">
              </div>
              <div class="col-md-10 col-xs-9">
                <p style="color:  black; font-weight: bold;">
                  <name><%= question[i]['pseudo'] %></name> 
                </p>
                <p id="date" style="color: black; font-weight: bold;" class="small"><%= question[i]['date'] %></p>
                <p style="color: gray; font-weight: 900;" class="message"><%= question[i]['question'] %></p>
              </div>
              </div>
            </a>
            </li>
            </ul>
            <% } %>
        </div>

    </div>
    </div>
        
    </div>
</div>

<%- include('pied'); -%>

<script src="/assets/semantic/js/moment.js"></script>
<script src="/assets/semantic/js/moment-with-locales.js"></script>
<script>
  var date = document.querySelectorAll('#date')
  moment.locale('fr')
  var element = '';
  for (var  i = 0; i< date.length; i++) {
   element = date[i].textContent;
  var datation = moment(element).fromNow();
  date[i].innerHTML = datation;
      }
  
</script>
</body>
</html>