<%- include('tete'); -%>
<!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper site-min-height">
        <div class="row">
          <div style="background-color: #fff;" class="col-lg-12">
         
              <div style="background: #fff; padding: 25px;" class="col-lg-12">
                <h3>Voici la question</h3>
              </div>
              <div  class=" col-lg-12">
                <div class="row">
                  <div class="col-lg-offset-2 col-lg-7 " style="background: #22242A; color: #fff; padding: 25px; margin-top: 20px;">
                    <div class="row">
                         <div class="col-md-2 ">
                      <img src="/assets/semantic/profs/img/ui-divya.jpg" class="img-circle" width="65">
                    </div>
                    <div class="col-md-10 ">
                      <p style="color:  #4ECDC4; font-weight: bold;">
                        <name><%= pseudo %></name>
                      </p>
                      <p id="dateposeur" style=" color:  #4ECDC4; font-weight: bold;" class="small"><%= date %> </p>
                      <p style="color: #fff; font-weight: 900;" class="message"><%= question %></p>
                    </div>
                    </div>               
                </div>
                </div>
              </div>

                <div>        
              
              <div class="col-lg-12">
                <div class="row">

                 <div class="col-lg-offset-2 col-lg-7">
                  
                   <h3  style="text-align: center; margin-top: 20px;"><%= lesreponse.length %> Reponses</h3>
                 </div>
                    <% for(var i= lesreponse.length -1 ; i >= 0; i--) { %>
                      <div class="col-lg-offset-2 col-lg-7 " style="background: #4ECDC4; color: #fff; padding: 25px; margin-top: 20px;">
                        <div class="row">
                             <div class="col-md-2  ">
                          <img src="/assets/semantic/profs/img/ui-divya.jpg" class="img-circle" width="65">
                        </div>
                        <div class="col-md-10 ">
                          <p style="color:  #22242A; font-weight: bold;">
                            <name><%= lesreponse[i]['pseudo'] %></name>
                            
                          </p>
                          <p id="date" style=" color:  #22242A; font-weight: bold;" class="small"><%= lesreponse[i]['date'] %> </p>
                          <p style="color: #fff; font-weight: 900;" class="message"><%= lesreponse[i]['reponse'] %></p>
                        </div>
                        </div>
                    
                    </div>

                      <% } %>
                </div>
                <div style="background: #fff; padding: 25px; margin-top: 20px;" class=" col-lg-offset-2 col-lg-7">
                <form  action="/profs/profrepond" method="POST">
                  <div class="form-group row">
                    <label for="rep" class="col-lg-12 input-lg col-form-label">Reponse</label>
                    <div class="col-lg-12">
                      <textarea id="msg" style="width: 100%; " rows="6" class="col-lg-12 input-lg col-form-label" name="message" ></textarea>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-lg-12 ">
                      <button style="width: 100%; background: #4ECDC4; border: none; font-size: 20px;" type="submit" name="creer" id="submit" class=" btn btn-primary">Reponse</button>
                    </div>
                  </div>
                </form>
              </div>
              </div>
           
              
            <!-- end col-4 -->
          </div>
          <!--  /col-lg-12 -->
        </div>
        <!--  /row -->
      </section>
      <!-- /wrapper -->
    </section>
    <!-- MAIN CONTENT -->
    <!--main content end-->
    <!--footer start-->
    <%- include('footer'); -%>
    <script src="/assets/semantic/profs/js/moment.js"></script>
    <script src="/assets/semantic/profs/js/moment-with-locales.js"></script>
    
    <script>
      var date = document.querySelectorAll('#date')
      var dateposeur = document.querySelector('#dateposeur')
      moment.locale('fr')
      var h = moment(dateposeur.textContent).fromNow();
      dateposeur.innerHTML = h;
      var element = '';
      for (var  i = 0; i< date.length; i++) {
       element = date[i].textContent;
      var datation = moment(element).fromNow();
      date[i].innerHTML = datation;
          }
    </script>
    <%- include('pied'); -%>